nav {

    width: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 98vh ;
    box-shadow: 2px 0px 10px #aaa ;
    padding: 0 5px 0 5px;

    ul {
        
        padding-left: 0;

        li {
            margin: auto;
            display: flex;
            justify-content: center;

            select {
                width: 150px;
                margin-left: 1px;
            }
        }
        
        .head{
            background-color:#ccc;
            color:#333;
            text-align: center;
        }
    }

    #color-menu{

        width: 60%;
        background-color: #eee;
        box-shadow: 2px 4px 5px #aaa ;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius:10px;
        margin: auto;

        #color-label{
            text-align: center;
            color: #666;
        }

        #color-palette {
            width: auto;
        }
    
        #color-hexa {
            width: auto;
        }
    }

}