main {

    position: absolute;
    top: 8px;
    left:225px;
    width: calc(100% - 240px);
    border: 0.5px solid #ccc;
    height: 98vh ;
    margin-left: 5px;
    overflow : hidden;

    .draggable, .resize , .target{
        touch-action: none;
        user-select: none;
    }
      
    #main-container {
        
        overflow: hidden;

        .element {
            
            z-index: 2;
            border: 1px solid #ccc;
            border-radius : 2px;
            left: calc(50% - 112.5px);
            top: 50%;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    #grid-container {

        height: 100%;
        border: 1px solid #ccc;
        z-index: -1;
        
        #line-vertical-container, #line-horizontal-container{
            height: 100%;
            width: 100%;
        }

        #line-vertical-container {
            
            .grid-vertical-line{
                position : absolute;
                border : 1px solid #eee;
                height : 100vh;
            }
        }

        #line-horizontal-container {
           
            .grid-horizontal-line{
                position : absolute;
                border : 1px solid #eee;
                width : 100%;
            }
        }
    }
}