nav {
    width: 200px;
    background-color: #ccc;
    min-height: 100vh ;
    padding: 0 5px 0 5px;

    ul {

        li {
            display: flex;
            justify-content: center;
        }
        
        .head{

            background-color:#ccc;
            color:#333;
            text-align: center;
        }
    }
}